---
Language: Cpp
BasedOnStyle: LLVM

# Indentation
IndentWidth: 4
TabWidth: 4
UseTab: Never

# Braces
BreakBeforeBraces: Allman
Cpp11BracedListStyle: true

# Line length
ColumnLimit: 100

# Spacing
SpaceAfterCStyleCast: false
SpaceBeforeParens: ControlStatements
SpaceInEmptyParentheses: false

# Includes
SortIncludes: true